

  .mamae{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10% 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "f1 f2 f3 f3"
    "f1 f4 f5 f6"
    "f1 f7 f7 f8";
  }

  .f1{
    grid-area: f1 ;
    border: solid 5px orangered;
    display: flex;
   justify-content:space-between;
   align-items: center;
   flex-direction: column;
  }

  .ic1{
   border: solid powderblue;
   width: 100px;
   height: 100px;
   border-radius: 50%;
  }
   
  .ic2{
    border: solid pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .ic3{
    border: solid pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .ic4{
    border: solid pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .ic5{
    border: solid pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .ic6{
    border: solid pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .f2{
    grid-area: f2 ;
    border: solid 5px rgb(167, 23, 31); 

  }

.log{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
}

.im{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: pink;
}

p{
  font-size: large;
  font-weight: bold;
}

  .f3{
    grid-area: f3 ;
    border: solid 5px orangered;
  }

  .f4{
    grid-area: f4 ;
    border: solid 5px orangered;
  }

  .f5{
    grid-area: f5 ;
    border: solid 5px orangered;
  }
  
  .f6{
    grid-area: f6 ;
    border: solid 5px orangered;
  }

  .f7{
    grid-area: f7 ;
    border: solid 5px orangered;
  }

  .f8{
    grid-area: f8 ;
    border: solid 5px orangered;
  }